* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: #FFFF;
  font-family: "Nunito";
}

::-webkit-scrollbar {
  width: 5px;
  height: 15px;
}

::-webkit-scrollbar-track-piece {
  background-color: #FFFF;
}

::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  opacity: 0.5;
  background-color: #000000;
}

@-webkit-keyframes font-swapping {
  0% {
    font-family: 'Catamaran';
  }
  25% {
    font-family: "Nunito";
  }
  50% {
    font-family: "Poppins";
  }
  100% {
    font-family: 'Sacramento', cursive;
  }
}

@keyframes font-swapping {
  0% {
    font-family: 'Catamaran';
  }
  25% {
    font-family: "Nunito";
  }
  50% {
    font-family: "Poppins";
  }
  100% {
    font-family: 'Sacramento', cursive;
  }
}

.primary-btn {
  position: relative;
  font-size: 11.4px;
  font-weight: 600;
  border: 0;
  letter-spacing: 1px;
  line-height: 40px;
  width: 150px;
  text-align: center;
  text-align: center;
  min-height: 40px;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  z-index: 0;
  border-radius: 3px;
  word-wrap: no-wrap;
}

.primary-btn.bg-white {
  background-color: #FFFF;
  color: #000000;
}

.primary-btn.bg-dark {
  background-color: #000000;
  color: #FFFF;
}

.primary-btn:after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: -1;
}

.primary-btn:hover {
  color: #FFFF !important;
}

.primary-btn:hover:after {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  background-color: #ff9644;
}

.primary-btn:active {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.wrapper {
  width: 100%;
  height: 100%;
}

.wrapper .content-inner {
  overflow: hidden auto;
  width: 100%;
  height: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  max-height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s;
  z-index: 99;
}

.navbar.sticky-nav {
  background: #000000 !important;
  color: white !important;
  height: 80px;
}

.navbar .brand h1 {
  color: #FFFF;
  font-family: "Poppins";
  letter-spacing: -2px;
  position: relative;
  margin: 0px 25px;
  padding: 0px 8px;
  font-weight: 800;
  border: 1px solid #ff9644;
  letter-spacing: -4px;
}

.navbar .brand h1 .dot {
  color: #ff9644;
}

.navbar .brand h1:hover {
  -webkit-animation: font-swapping .8s linear .3s infinite;
          animation: font-swapping .8s linear .3s infinite;
}

.navbar .nav-list {
  padding: 0px 10px;
  margin: 0px 20px;
  list-style-type: none;
}

.navbar .nav-list .list-item {
  display: inline-block;
  padding: 0px 15px;
  position: relative;
  cursor: pointer;
}

.navbar .nav-list .list-item a {
  text-decoration: none;
  color: #FFFF;
}

.navbar .nav-list .list-item:before {
  content: '<';
  display: inline-block;
  position: absolute;
  color: #ff9644;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
  opacity: 0;
}

.navbar .nav-list .list-item:after {
  content: '>';
  display: inline-block;
  position: absolute;
  color: #ff9644;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
  opacity: 0;
}

.navbar .nav-list .list-item:hover {
  font-weight: 600;
}

.navbar .nav-list .list-item:hover::before {
  opacity: 1;
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
}

.navbar .nav-list .list-item:hover:after {
  opacity: 1;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.section {
  height: 100vh;
  width: 100%;
}

.section .section-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.section .overlay-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.section .overlay-inner .author-info {
  text-align: center;
  text-transform: uppercase;
  font-family: "Raleway";
  letter-spacing: 5px;
}

.section .overlay-inner .author-info .author-name {
  margin: 10px 0px;
  font-size: 65px;
  color: #ff9644;
}

.section .overlay-inner .author-info h4 {
  font-size: 20px;
}

.section.home {
  background: url("../assets/backgrounds/home-bg.jpg");
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
}

.navigation-fullwidth .navigation-checkbox {
  display: none;
}

.navigation-fullwidth .navigation-btn {
  background-color: #FFFF;
  height: 40px;
  width: 40px;
  position: fixed;
  top: 30px;
  right: 30px;
  border-radius: 50%;
  z-index: 2000;
  -webkit-box-shadow: 0 1em 3em rgba(0, 0, 0, 0.1);
          box-shadow: 0 1em 3em rgba(0, 0, 0, 0.1);
  text-align: center;
}

.navigation-fullwidth .navigation-btn span i {
  color: #000000;
}

.navigation-fullwidth .navigation-background {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: fixed;
  top: 30px;
  right: 30px;
  background: #ff9644;
  z-index: 999;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation-fullwidth .navigation-nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.navigation-fullwidth .navigation-list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navigation-fullwidth .navigation-item {
  margin: 10px;
}

.navigation-fullwidth .navigation-item a:link, .navigation-fullwidth .navigation-item a:visited {
  text-decoration: none;
  font-size: 35px;
  font-weight: 300;
  padding: 10px 50px;
  color: #FFFF;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #FFFF 50%);
  background-size: 220%;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.navigation-fullwidth .navigation-item a:hover, .navigation-fullwidth .navigation-item a.active {
  background-position: 100%;
  color: #ff9644;
}

.navigation-fullwidth .navigation-checkbox:checked ~ .navigation-background {
  -webkit-transform: scale(100);
          transform: scale(100);
}

.navigation-fullwidth .navigation-checkbox:checked ~ .navigation-nav {
  opacity: 1;
  width: 100%;
}

@media (max-width: 800px) {
  .navbar {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */