$primary-color: #FFFF;
$secondary-color: #000000;
$accent-color: #ff9644;
$bg-light: #f7f7fa;
$primary-font: 'Nunito';
$secondary-font: 'Poppins';
$signature-font: 'Raleway';

@mixin default_logo_style {
  h1{
    color: $primary-color;
    font-family: $secondary-font;
    letter-spacing: -2px;
    position: relative;
    margin: 0px 25px;
    padding: 0px 8px;
    font-weight: 800;
    border: 1px solid $accent-color;
    letter-spacing: -4px;
    .dot {
      color: $accent-color;
    }
    &:hover {
      animation: font-swapping .8s cubic-bezier(0.86, 0, 0.07, 1) .3s infinite;
    }
  }
}

@keyframes btnZoom{
  0%{
      opacity: 1;
  }
  30%{
      opacity: .5;
      transform: scale(1.2, 1.5);
  }
  50%{
      opacity: .3;
      transform: scale(1.5, 1.7);

  }
  70%{
      opacity: .2;
      transform: scale(1.7, 2);
  }
  100%{
      opacity: 0;
      transform: scale(2, 2.2);
  }
}

*{ 
  box-sizing: border-box;
}
html body{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: $primary-color;
  font-family: $primary-font;
  transition: all .5s ease-in-out;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
  height: 15px;
}
::-webkit-scrollbar-track-piece  {
  background-color: $primary-color;
}
::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  opacity: 0.5;
  background-color: $secondary-color;
}

@keyframes font-swapping {
  0% {font-family: 'Catamaran';}
  25% {font-family: $primary-font;}
  50% {font-family: $secondary-font;}
  100% {font-family: 'Sacramento', cursive;}
}

.primary-btn {
  position: relative;
  font-size: 11.4px;
  font-weight: 600;
  border: 0;
  letter-spacing: 1px;
  line-height: 40px;
  width: 150px;
  text-align: center;
  min-height: 40px;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  z-index: 0;
  border-radius: 3px;
  word-wrap: no-wrap;

  &.bg-white {
    background-color: $primary-color;
    color: $secondary-color;
  }
  &.bg-dark {
    background-color: $secondary-color;
    color: $primary-color;
  }
  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: 0;
    transform: translateY(40px);
    transition: all .3s ease-in-out;
    z-index: -1;
  }
  &:hover {
    color: $primary-color !important;
    &:after {
      opacity: 1;
      transform: translateY(0);
      background-color: $accent-color;
    }
  }
  &:active {
    transform: translateY(5px);
  }
}

.wrapper {
  width: 100%;
  height: 100%;
  .content-inner {
    overflow: hidden auto;
    width: 100%;
    height: 100%;
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  max-height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 15px;
  box-sizing: border-box;
  transition: all ease-in-out 1s;
  z-index: 99;
  &.sticky-nav{ 
    background: $secondary-color !important;
    color: white !important;
    height: 80px;
  }

  .brand{ 
    @include default_logo_style;
    // h1{
    //   color: $primary-color;
    //   font-family: $secondary-font;
    //   letter-spacing: -2px;
    //   position: relative;
    //   margin: 0px 25px;
    //   padding: 0px 8px;
    //   font-weight: 800;
    //   border: 1px solid $accent-color;
    //   letter-spacing: -4px;
    //   .dot {
    //     color: $accent-color;
    //   }
    //   &:hover {
    //     animation: font-swapping .8s linear .3s infinite;
    //   }
    // }
    
  }
  .nav-list {
    padding: 0px 10px;
    margin: 0px 20px;
    list-style-type: none;
    .list-item {
      display: inline-block;
      padding: 0px 15px;
      position: relative;
      cursor: pointer;
      a {
        text-decoration: none;
        color: $primary-color;
      }
      &:before {
        content: '<';
        display: inline-block;
        position: absolute;
        color: $accent-color;
        transition: all linear .3s;
        opacity: 0;
      }
      &:after {
        content: '>';
        display: inline-block;
        position: absolute;
        color: $accent-color;
        transition: all linear .3s;
        opacity: 0;
      }
      &:hover {
        font-weight: 600;
        &::before {
          opacity: 1;
          transform: translateX(-15px);
        }
        &:after {
          opacity: 1;
          transform: translateX(5px);
        } 
      }

      &.active{
        a {
          color: $accent-color;
        }
      }

    }
  }
}

.section {
  height: 100vh;
  width: 100%;
  color: $secondary-color;
  &.h-auto {
    height: auto !important;
  }
  .section-inner-grid {
    height: 100%;
    max-width: 70%;
    margin: 0 auto;
    padding: 40px 20px;
    .sectionHeading{
      margin: 8px 0px;
      text-align: center;
      &.small{
        letter-spacing: 2px;
        color: $accent-color;
      }
      &.large{
        font-family: $signature-font;
        font-weight: bold;
        color: $secondary-color;
      }
    }
    .section-content {
      margin: 40px 0px;
    }
  }


  &.home {
    background: url('../assets/backgrounds/home-bg.jpg');
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    color: $primary-color;
    .section-overlay{
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8px);
    }
    .section-inner-grid {
      display: flex;
      justify-content: center;
      align-items: center; 
      height: 100%;
      .author-info {
        text-align: center;
        text-transform: uppercase;
        font-family: $signature-font;
        letter-spacing: 5px;
        .author-name {
          margin: 10px 0px;
          font-size: 65px;
          color: $accent-color;
        }
        h4{ 
          font-size: 20px;
        }
      }
    }
  }
  
  &.intro {
    position: relative;
    .section-inner-grid {
      max-width: 60%;
      margin: 0 auto;
      color: #000000;
      padding: 20px;
      .sectionHeading{
        text-align: left;
      }
      .intro-flex-container {
        width: 100%;
        height: 100%;
        .flex-item{
          padding: 20px 20px;
          &.intro-img-container{
            min-width: 30%;
            max-width: 30%;
            position: relative;
            &::before{
              content: '';
              display: block;
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              background: 
              linear-gradient($accent-color,$accent-color) 0 0,
              linear-gradient($accent-color,$accent-color) 0 0,
              linear-gradient($accent-color,$accent-color) 100% 100%,
              linear-gradient($accent-color,$accent-color) 100% 100%,
              transparent;
              background-size:70px 3px,3px 70px;
              background-origin:content-box;
              background-repeat:no-repeat;
            }
          }
          &.intro-details-container {
            min-width: 70%;
            max-width: 70%;
          }
        }
      }
      .contact-info-container {
        margin: 40px 0px;
        width: 100%;
        .contact-item {
          float: left;
          min-width: 270px;
          max-width: 50%;
          height: 50px;
          margin: 20px 0px;
          .icon-container {
            float: left;
            width: 50px;
            height: 100%;
            text-align: center;
            padding: 5px;
            margin-right: 5px;
            .icon {
              font-size: 30px;
              vertical-align: bottom;
              color: $accent-color;
            }
          }
          .info-container {
            height: 100%;
            float: left;
          }
          .label, .value {
            display: block;
          }
          .label {
            text-transform: uppercase;
            color: grey;
            font-weight: 800;
            letter-spacing: 2px;
            font-size: 10px;
          }
          .value {
            font-size: 16px;
            font-weight: 800;
            letter-spacing: 1px;
          }
        }
        
      }
    }
  }


  &.expertise{
    background-color: #F1F4FB;
    color: $secondary-color;
    .progress-container {
      min-width: 50%;
      max-width: 50%;
      padding: 20px;
      .progress-info{
        height: 30px;
      }
      .label {
        float: left;
        font-weight: 800;
      }
      .value {
        float: right;
        font-weight: 800;
      }
    }
    .progress-track {
      width: 100%;
      height: 10px;
      background-color: #c2c2c2;
      position: relative;
      .progress-fill {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background: $accent-color;
      }
    }
  }

  &.qualification {
    .qualification-container {
      width: 100%;
      .col-1-of-2 {
        min-width: 50%;
        max-width: 50%;
        .section-label {
          font-family: $signature-font;
          font-size: 28px;
          .icon {
            margin-right: 10px;
          }
        }
        .qualification-item-wrapper {
          .qualification-item {
            padding: 20px;
            margin: 10px 0px;
            position: relative;
            .disc {
              width: 30px;
              height: 30px;
              border: 2px solid $accent-color;
              border-radius: 30px;
              position: absolute;
              left: 0px;
              top: 25px;
              .disc-inner {
                position: relative;
                width: 100%;
                height: 100%;
                .dot{
                  width: 60%;
                  height: 60%;
                  background-color: $accent-color;
                  border-radius: 50%;
                  position: absolute;
                  margin: 50%;
                  transform: translate(-50%, -50%);
                }
                &:after {
                  content: '';
                  width: 2px;
                  height: 75px;
                  background-color: $accent-color;
                  position: absolute;
                  top: 28px;
                  left: 12px;
                }
              }
              
            }

            .qualification-item-content {
              margin-left: 30px;
              .qualification-title {
                font-family: $signature-font;
                margin: 5px 0px;
              }
              .qualification-location {
                color: rgb(94, 93, 93);
                margin: 5px 0px;
              }
              .duration {
                margin-top: 20px;
                color: $accent-color;
              }
            }

          }
        }
      }
    }
  }

  &.services{
    .service-card-deck {
      padding: 20px;
      float: left;
      .service-card {
        border: 1px solid #ebebeb;
        border-radius: 5px;
        padding: 40px;
        .icon-container {
          width: 65px;
          height: 65px;
          border-radius: 5px;
          background-color: lighten($accent-color, 30%);
          .icon {
            margin: 50%;
            transform: translate(-50%, -50%);
            font-size: 35px;
            color: $accent-color;
          }
        }
        .title {
          font-family: $signature-font;
          font-size: 27px;
        }
        .content {
          font-size: 20px;
        }

        &:hover, &.active {
          border-color: $accent-color;
          .icon-container {
            background-color: $accent-color;
          }
          .icon {
            color: $primary-color;
          }
        }


      }
    }
  }

  &.portfolio {
    background-color: #F1F4FB !important;
    .portfolio-nav {
      .portfolio-nav-list {
        list-style-type: none;
        padding-left: 0;
        margin-left: none;
        display: flex;
        justify-content: center;
        align-items: center;
        li {
          display: inline-block;
          padding: 10px 20px;
          margin: 10px 20px;
          font-family: $signature-font;
          border-radius: 5px;
          font-size: 18px;
          text-transform: uppercase;
          .icon {
            margin-right: 5px;
            font-size: 20px;
          }
          &.active {
            background-color: $accent-color;
            color: $primary-color;
          }
        }
      }
    }
    .portfolio-card-deck {
      padding: 20px;
      float: left;
      .portfolio-card {
        border-radius: 10px;
        border: 1px solid grey;
        height: 250px;
        position: relative;
        overflow: hidden;
        &:hover {
          border: none !important;
          img {
            transform: scale(1.5);
          }
          .card-overlay {
            opacity: 1;
            background-color: rgba(0, 0, 0, 0.8px);
            .project-title, .pills-container {
              transform: translateX(0);
              opacity: 1;
            }
          }
        }
        img {
          width: 100%;
          height: 100%;
          max-height: 100%;
          transition: all .3s ease-in-out;
        }
        .card-overlay {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          border-radius: 10px;
          transition: all .3s ease-in-out;

          .project-title {
            transform: translateX(-100px);
            opacity: 0;
            color: $accent-color;
            font-size: 20px;
            letter-spacing: 2px;
            text-align: center;
            transition: all .5s ease-in;
          }
          .pills-container {
            transform: translateX(100px);
            opacity: 0;
            padding: 5px 5px;
            color: $primary-color;
            margin: 0 auto;
            max-width: 50%;
            transition: all .5s ease-in;
            .pill {
              border-radius: 5px;
              border: 1px solid $accent-color;
              padding: 5px 10px;
              text-align: center;
              margin: 10px 5px;
            }
          }
        }
      }
    }
  }

  &.contactMe { 
    .contactMe-container {
      width: 100%;
      .col-1-of-2 {
        min-width: 50%;
        max-width: 50%;
        .section-label-small {
          font-family: $signature-font;
          font-size: 16px;
          text-decoration: underline;
          color: $accent-color;
        }
        .section-label {
          font-family: $signature-font;
          font-size: 28px;
        }
        .contact-item-container {
          .contact-item:first-child {
            margin-top: 20px;
          }
          .contact-item {
            min-width: 100% !important;
            max-width: 100% !important;
            height: 50px;
            margin: 50px 0px;
            .icon-container {
              float: left;
              width: 50px;
              height: 100%;
              text-align: center;
              padding: 5px;
              margin-right: 15px;
              .icon {
                font-size: 40px !important;
                vertical-align: middle;
                color: $accent-color;
              }
            }
            .info-container {
              height: 100%;
              float: left;
            }
            .label, .value {
              display: block;
              text-decoration: none;
            }
            .label {
              text-transform: uppercase;
              color: grey;
              font-weight: 800;
              letter-spacing: 2px;
              font-size: 10px;
            }
            .value {
              font-size: 25px;
              font-weight: bolder;
              letter-spacing: 1px;
              color: inherit;
              &:hover {
                color: $accent-color;
              }
            }
          }

        }

        .contactMe-form-container {
          margin: 10px 0px;
          width: 100%;
          .input-container {
            width: 100%;
            margin: 10px 0px;
            position: relative;
            .icon {
              font-size: 16px;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              left: 15px;
              color: $accent-color;
            }
            input, textarea {
              width: 100%;
              height: 50px;
              outline: none;
              font-size: 16px;
              font-weight: 700;
              -moz-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, .25);
              -webkit-box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, .25);            
              box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, .25);
              border: 1px solid $secondary-color;
              &::placeholder {
                text-transform: capitalize;
              }
            }
            input {
              &.input-with-icon {
                padding: 0px 0px 0px 50px;
              }
              &:focus {
                // color: $accent-color;
                &::placeholder {
                  opacity: 0;
                }
              }
            }
            textarea {
              resize: none;
              padding: 10px;
              min-height: 180px;
            }
          }

          .submit-btn {
            font-size: 15px;
            background-color: $secondary-color;
            color: $primary-color;
            // border: 1px solid $accent-color;
          }
        }


      }
    }
  }

  &.socialProfiles {
    background-color: lighten($accent-color, 25%);
    .section-inner-grid {
      padding: 10px;
      .social-icons-container {
        margin: 10px 0px;
        display: flex;
        justify-content: center;
        padding: 10px 0px;
        .icon-container {
          float: left;
          margin: 0px 20px;
          cursor: pointer;
          position: relative;
          &:after{
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            border: 1px solid $secondary-color;
            top: 0;
            left: 0; 
            opacity: 0;
          }
          .icon-container-inner {
            border: 1px solid $secondary-color;
            padding: 10px 15px;
            .icon {
              color: $secondary-color;
            }
          }
  
          &:hover{
            background-color: $secondary-color;
            border-color: $secondary-color;
            &:after{
                animation: btnZoom .5s linear;
            }
            .icon {
              color: $primary-color;
            }
          }
  
        }
      }

      .copy-rights {
        margin: 20px 0px 0px 0px;
        .copyrights-text {
          text-align: center;
          .author-name {
            margin: 0px 2px;
            padding: 0px 6px;
            position: relative;
            font-weight: 800;
            letter-spacing: 1px;
            z-index: 0;
            font-family: $signature-font;
            &::after {
              content: '';
              position: absolute;
              display: inline-block;
              left:0;
              top: 0;
              width: 0%;
              height: 100%;
              transition: all .3s cubic-bezier(0.86, 0, 0.07, 1);
              z-index: -1;
              background-color: $secondary-color;
            }
          }
        }
        &:hover {
          .author-name {
            color: $accent-color;
            &::after {
              width: 100%;
            }
          }
        }
      }
    }



  }

}


// Full-width-navigation
.navigation-fullwidth {
  .navigation-checkbox {
    display: none;
  }
  .navigation-btn {
    background-color: $secondary-color;
    height: 50px;
    width: 50px;
    position: fixed;
    top: 15px;
    right: 30px;
    border-radius: 50%;
    border: none;
    z-index: 2000;
    box-shadow: 0 1em 3em rgba($secondary-color, .1);
    text-align: center;
    span {
      i{
        color: $secondary-color;
      }
    }
  }
  .navigation-background {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: fixed;
    top: 22px;
    right: 32px;
    background: $accent-color;
    z-index: 999;
    transition: transform .5s cubic-bezier(0.86, 0, 0.07, 1);
  }
  .navigation-nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all .3s;
  }
  .navigation-list{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }
  .navigation-item{
    margin: 10px;
    a {
      &:link, &:visited {
        text-decoration: none;
        font-size: 35px;
        font-weight: 300;
        padding: 10px 50px;
        color: $primary-color;
        text-transform: uppercase;
        background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $primary-color 50%);
        background-size: 220%;
        transition: all .4s;
      }
      &:hover, &.active {
        background-position: 100%;
        color: $accent-color;
        transform: translateX(1rem);
      }
    }
  }

  // Functionality
  .navigation-checkbox:checked ~ .navigation-background {
    transform: scale(100);
  } 
  .navigation-checkbox:checked ~ .navigation-nav {
    opacity: 1;
    width: 100%;
  } 

  // ICON
  .navigation-icon {
    position: relative;
    margin-top: 25px;
    width: 2px;
    height: 2px;
    display: inline-block;

    &, &::before, &::after {
      width: 20px;
      height: 2px;
      background-color: $accent-color;
      display: inline-block;
    }

    &::before, &::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all .2s;
    }

    &::before {top: -8px;}
    &::after {top: 8px;}
  }

  .navigation-btn:hover .navigation-icon::before {
    top: -9px;
  }

  .navigation-btn:hover .navigation-icon::after {
    top: 9px;
  }

  .navigation-checkbox:checked + .navigation-btn{
    border-radius: 50%;
  }

  .navigation-checkbox:checked + .navigation-btn .navigation-icon {
    background-color: transparent;
  }

  .navigation-checkbox:checked + .navigation-btn .navigation-icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  .navigation-checkbox:checked + .navigation-btn .navigation-icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}

@media (max-width: 768px) {
  .section-inner-grid {
    padding: 20px !important;
    max-width: 90% !important;
  }
  .col-1-of-3 {
    max-width: 100% !important;
  }
}
@media (min-width: 800px) {
  .navigation-fullwidth {
    display: none;
  }
}

@media (max-width: 800px) {
  .navbar {
    .nav-list {
      &.nav-lg {
        display: none;
      }
    }
  }

}

@media (min-width: 768px) and (max-width: 992px) {
  .col-1-of-3 {
    max-width: 50% !important;
  }
}

@media only screen and (max-width: 992px) {
  .col-1-of-2 {
    max-width: 100% !important;
  }
  .service-card-deck {
    max-width: 100% !important;
  }
}

@media only screen and (min-width: 992px) {
  .col-1-of-2 {
    float: left;
    max-width: 50%;
  }
  .col-1-of-3 {
    min-width: 33.333333%;
    max-width: 33.333333% !important;
  }
}

@media (min-width: 992px) and (max-width: 1400px)  {
  .service-card-deck {
    max-width: 50% !important;
  }
}