* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  color: #FFFF;
  font-family: "Nunito";
}

::-webkit-scrollbar {
  width: 5px;
  height: 15px;
}

::-webkit-scrollbar-track-piece {
  background-color: #FFFF;
}

::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  opacity: 0.5;
  background-color: #000000;
}

@-webkit-keyframes font-swapping {
  0% {
    font-family: 'Catamaran';
  }
  25% {
    font-family: "Nunito";
  }
  50% {
    font-family: "Poppins";
  }
  100% {
    font-family: 'Sacramento', cursive;
  }
}

@keyframes font-swapping {
  0% {
    font-family: 'Catamaran';
  }
  25% {
    font-family: "Nunito";
  }
  50% {
    font-family: "Poppins";
  }
  100% {
    font-family: 'Sacramento', cursive;
  }
}

.primary-btn {
  position: relative;
  font-size: 11.4px;
  font-weight: 600;
  border: 0;
  letter-spacing: 1px;
  line-height: 40px;
  width: 150px;
  text-align: center;
  text-align: center;
  min-height: 40px;
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  z-index: 0;
  border-radius: 3px;
  word-wrap: no-wrap;
}

.primary-btn.bg-white {
  background-color: #FFFF;
  color: #000000;
}

.primary-btn.bg-dark {
  background-color: #000000;
  color: #FFFF;
}

.primary-btn:after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  z-index: -1;
}

.primary-btn:hover {
  color: #FFFF !important;
}

.primary-btn:hover:after {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  background-color: #ff9644;
}

.primary-btn:active {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.wrapper {
  width: 100%;
  height: 100%;
}

.wrapper .content-inner {
  overflow: hidden auto;
  width: 100%;
  height: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  max-height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all ease-in-out 1s;
  transition: all ease-in-out 1s;
  z-index: 99;
}

.navbar.sticky-nav {
  background: #000000 !important;
  color: white !important;
  height: 80px;
}

.navbar .brand h1 {
  color: #FFFF;
  font-family: "Poppins";
  letter-spacing: -2px;
  position: relative;
  margin: 0px 25px;
  padding: 0px 8px;
  font-weight: 800;
  border: 1px solid #ff9644;
  letter-spacing: -4px;
}

.navbar .brand h1 .dot {
  color: #ff9644;
}

.navbar .brand h1:hover {
  -webkit-animation: font-swapping .8s linear .3s infinite;
          animation: font-swapping .8s linear .3s infinite;
}

.navbar .nav-list {
  padding: 0px 10px;
  margin: 0px 20px;
  list-style-type: none;
}

.navbar .nav-list .list-item {
  display: inline-block;
  padding: 0px 15px;
  position: relative;
  cursor: pointer;
}

.navbar .nav-list .list-item a {
  text-decoration: none;
  color: #FFFF;
}

.navbar .nav-list .list-item:before {
  content: '<';
  display: inline-block;
  position: absolute;
  color: #ff9644;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
  opacity: 0;
}

.navbar .nav-list .list-item:after {
  content: '>';
  display: inline-block;
  position: absolute;
  color: #ff9644;
  -webkit-transition: all linear .3s;
  transition: all linear .3s;
  opacity: 0;
}

.navbar .nav-list .list-item:hover {
  font-weight: 600;
}

.navbar .nav-list .list-item:hover::before {
  opacity: 1;
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
}

.navbar .nav-list .list-item:hover:after {
  opacity: 1;
  -webkit-transform: translateX(5px);
          transform: translateX(5px);
}

.section {
  height: 100vh;
  width: 100%;
}

.section.h-auto {
  height: auto !important;
}

.section .section-inner-grid {
  height: 100%;
  max-width: 70%;
  margin: 0 auto;
  padding: 40px 20px;
}

.section .section-inner-grid .sectionHeading {
  margin: 8px 0px;
  text-align: center;
}

.section .section-inner-grid .sectionHeading.small {
  letter-spacing: 2px;
  color: #ff9644;
}

.section .section-inner-grid .sectionHeading.large {
  font-family: "Raleway";
  font-weight: bold;
  color: #000000;
}

.section.home {
  background: url("../assets/backgrounds/home-bg.jpg");
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
}

.section.home .section-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.section.home .section-inner-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.section.home .section-inner-grid .author-info {
  text-align: center;
  text-transform: uppercase;
  font-family: "Raleway";
  letter-spacing: 5px;
  margin: auto;
}

.section.home .section-inner-grid .author-info .author-name {
  margin: 10px 0px;
  font-size: 65px;
  color: #ff9644;
}

.section.home .section-inner-grid .author-info h4 {
  font-size: 20px;
}

.section.intro {
  position: relative;
}

.section.intro .section-inner-grid {
  max-width: 60%;
  margin: 0 auto;
  color: #000000;
  padding: 20px;
}

.section.intro .section-inner-grid .sectionHeading {
  text-align: left;
}

.section.intro .section-inner-grid .intro-flex-container {
  width: 100%;
  height: 100%;
}

.section.intro .section-inner-grid .intro-flex-container .flex-item {
  padding: 20px 20px;
}

.section.intro .section-inner-grid .intro-flex-container .flex-item.intro-img-container {
  min-width: 30%;
  max-width: 30%;
  position: relative;
}

.section.intro .section-inner-grid .intro-flex-container .flex-item.intro-img-container::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff9644), to(#ff9644)) 0 0, -webkit-gradient(linear, left top, left bottom, from(#ff9644), to(#ff9644)) 0 0, -webkit-gradient(linear, left top, left bottom, from(#ff9644), to(#ff9644)) 100% 100%, -webkit-gradient(linear, left top, left bottom, from(#ff9644), to(#ff9644)) 100% 100%, transparent;
  background: linear-gradient(#ff9644, #ff9644) 0 0, linear-gradient(#ff9644, #ff9644) 0 0, linear-gradient(#ff9644, #ff9644) 100% 100%, linear-gradient(#ff9644, #ff9644) 100% 100%, transparent;
  background-size: 70px 3px,3px 70px;
  background-origin: content-box;
  background-repeat: no-repeat;
}

.section.intro .section-inner-grid .intro-flex-container .flex-item.intro-details-container {
  min-width: 70%;
  max-width: 70%;
}

.section.intro .section-inner-grid .contact-info-container {
  margin: 40px 0px;
  width: 100%;
}

.section.intro .section-inner-grid .contact-info-container .contact-item {
  float: left;
  min-width: 270px;
  max-width: 50%;
  height: 50px;
  margin: 20px 0px;
}

.section.intro .section-inner-grid .contact-info-container .contact-item .icon-container {
  float: left;
  width: 50px;
  height: 100%;
  text-align: center;
  padding: 5px;
  margin-right: 5px;
}

.section.intro .section-inner-grid .contact-info-container .contact-item .icon-container .icon {
  font-size: 30px;
  vertical-align: bottom;
  color: #ff9644;
}

.section.intro .section-inner-grid .contact-info-container .contact-item .info-container {
  height: 100%;
  float: left;
}

.section.intro .section-inner-grid .contact-info-container .contact-item .label, .section.intro .section-inner-grid .contact-info-container .contact-item .value {
  display: block;
}

.section.intro .section-inner-grid .contact-info-container .contact-item .label {
  text-transform: uppercase;
  color: grey;
  font-weight: 800;
  letter-spacing: 2px;
  font-size: 10px;
}

.section.intro .section-inner-grid .contact-info-container .contact-item .value {
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 1px;
}

.section.expertise {
  background-color: #dae4eb;
  color: #000000;
}

.section.expertise .progress-container {
  min-width: 50%;
  max-width: 50%;
  padding: 20px;
}

.section.expertise .progress-container .progress-info {
  height: 30px;
}

.section.expertise .progress-container .label {
  float: left;
}

.section.expertise .progress-container .value {
  float: right;
}

.section.expertise .progress-track {
  width: 100%;
  height: 10px;
  background-color: #5e5d5d;
  position: relative;
}

.section.expertise .progress-track .progress-fill {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: #ff9644;
}

.navigation-fullwidth .navigation-checkbox {
  display: none;
}

.navigation-fullwidth .navigation-btn {
  background-color: #000000;
  height: 50px;
  width: 50px;
  position: fixed;
  top: 15px;
  right: 30px;
  border-radius: 50%;
  border: none;
  z-index: 2000;
  -webkit-box-shadow: 0 1em 3em rgba(0, 0, 0, 0.1);
          box-shadow: 0 1em 3em rgba(0, 0, 0, 0.1);
  text-align: center;
}

.navigation-fullwidth .navigation-btn span i {
  color: #000000;
}

.navigation-fullwidth .navigation-background {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: fixed;
  top: 22px;
  right: 32px;
  background: #ff9644;
  z-index: 999;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.5s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.5s cubic-bezier(0.86, 0, 0.07, 1);
}

.navigation-fullwidth .navigation-nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.navigation-fullwidth .navigation-list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navigation-fullwidth .navigation-item {
  margin: 10px;
}

.navigation-fullwidth .navigation-item a:link, .navigation-fullwidth .navigation-item a:visited {
  text-decoration: none;
  font-size: 35px;
  font-weight: 300;
  padding: 10px 50px;
  color: #FFFF;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #FFFF 50%);
  background-size: 220%;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.navigation-fullwidth .navigation-item a:hover, .navigation-fullwidth .navigation-item a.active {
  background-position: 100%;
  color: #ff9644;
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.navigation-fullwidth .navigation-checkbox:checked ~ .navigation-background {
  -webkit-transform: scale(100);
          transform: scale(100);
}

.navigation-fullwidth .navigation-checkbox:checked ~ .navigation-nav {
  opacity: 1;
  width: 100%;
}

.navigation-fullwidth .navigation-icon {
  position: relative;
  margin-top: 25px;
  width: 2px;
  height: 2px;
  display: inline-block;
}

.navigation-fullwidth .navigation-icon, .navigation-fullwidth .navigation-icon::before, .navigation-fullwidth .navigation-icon::after {
  width: 20px;
  height: 2px;
  background-color: #ff9644;
  display: inline-block;
}

.navigation-fullwidth .navigation-icon::before, .navigation-fullwidth .navigation-icon::after {
  content: '';
  position: absolute;
  left: 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.navigation-fullwidth .navigation-icon::before {
  top: -8px;
}

.navigation-fullwidth .navigation-icon::after {
  top: 8px;
}

.navigation-fullwidth .navigation-btn:hover .navigation-icon::before {
  top: -9px;
}

.navigation-fullwidth .navigation-btn:hover .navigation-icon::after {
  top: 9px;
}

.navigation-fullwidth .navigation-checkbox:checked + .navigation-btn {
  border-radius: 50%;
}

.navigation-fullwidth .navigation-checkbox:checked + .navigation-btn .navigation-icon {
  background-color: transparent;
}

.navigation-fullwidth .navigation-checkbox:checked + .navigation-btn .navigation-icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.navigation-fullwidth .navigation-checkbox:checked + .navigation-btn .navigation-icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

@media (max-width: 768px) {
  .section-inner-grid {
    padding: 20px !important;
    max-width: 90% !important;
  }
}

@media (min-width: 800px) {
  .navigation-fullwidth {
    display: none;
  }
}

@media (max-width: 800px) {
  .navbar .nav-list.nav-lg {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .col-1-of-2 {
    max-width: 100% !important;
  }
}

@media only screen and (min-width: 992px) {
  .col-1-of-2 {
    float: left;
    max-width: 50%;
  }
}
/*# sourceMappingURL=main.css.map */